[Unit]
Description=Daemon for LED strip control via ws2811
Requires=firelight-daemon.service

[Service]
User=firelight
Environment=FIRELIGHT_STRANDS=
ExecStart=/usr/bin/firelight-rest --daemon-socket /var/run/firelight-daemon.sock --bind 0.0.0.0:80 --strands=${FIRELIGHT_STRANDS}
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target

